<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
      <strong><%= @user.name %></strong>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @user.email %></h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-secondary"%>
  </div>
</div>
<br>
<% if current_user?(actual_user) || admin_user %>
  <div class="card">
      <div class="card-header">
          <h1>Add Jogging Time</h1>
      </div>
      <div class="card-body">
          <%= render 'shared/jogtime_form' %>
      </div>
  </div>
  <br>
  <% if @user.jogtimes.any? %>
    <div class="card">
        <div class="card-header">
          <div class="col-md-8">
            <h3>Jogtimes (<%= @user.jogtimes.count %>)</h3>
            <%= link_to 'Order ⇵', order_path, class:"btn btn-secondary"%>
          </div>
        </div>
        <div class="card-body">
          <div class="col-md-8">
            <ol class="jogtimes">
              <%= render @jogtimes %>
            </ol>
            <%= will_paginate @jogtimes %>
          </div>
        </div>
    </div>
  <% end %>
<% end %>
<%= link_to 'Back', users_path, class:"btn btn-secondary"%>
