<%= form_with(model: @jogtime, local: false) do |form| %>
    <%= render 'shared/error_messages', object: form.object, local: false %>
  
    <div class="field mb-3">
      <%= form.label :minutes %>
      <%= form.text_field :minutes, class: "form-control" %>
    </div>
  
    <div class="field mb-3">
      <%= form.label :distance %>
      <%= form.text_field :distance, class: "form-control" %>
    </div>
  
    <div class="field mb-3">
      <%= form.label :date %>
      <%= form.text_field :weekday, class: "form-control" %>
    </div>
  
    <div class="actions">
      <%= form.submit yield(:button_text), class: "btn btn-secondary" %>
    </div>
    <br>
  <% end %>
  